<?php
/**
 * Created by PhpStorm.
 * User: tiago
 * Date: 12/06/15
 * Time: 17:32
 */
?>

<html>
    <head>
        <title>Sistema de Compras</title>
        <?= $this->tag->stylesheetLink(SERVER . "application/Resources/bootstrap/css/bootstrap.css", false); ?>
        <?= $this->tag->stylesheetLink(SERVER . "application/Resources/bootstrap/css/bootstrap.min.css", false); ?>
        <?= $this->tag->stylesheetLink(SERVER . "application/Resources/bootstrap/css/bootstrap-theme.min.css", false); ?>
        <?= $this->tag->stylesheetLink(SERVER . "application/Resources/css/dashboard.css", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/js/jQuery.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/js/jquery.mask.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/js/jquery.mask.min.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/js/holder.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/bootstrap/js/bootstrap.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/bootstrap/js/bootstrap.min.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/bootstrapComponents/js/modal.js", false); ?>
        <?= $this->tag->javascriptInclude(SERVER . "application/Resources/js/Principal.js", false); ?>
    </head>
    <body>
        <div class="modal fade" id="alert">
            
        </div>
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="?">Festas Tescaro</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="carrinho">Carrinho <span id="qtd"><?=count($this->redis->keys('*')); ?></span></a></li>
                    </ul>
                    <form class="navbar-form navbar-right" action="?_url=/Produtos" method="POST">
                        <input class="form-control" name="search" placeholder="Search..." type="text" value="<?=(isset($_POST['search']) ? $_POST['search'] : '');?>">
                        <input type="submit" class="btn-primary" value="Buscar"/>
                    </form>
                    <
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <?php
                        $categorias = Categoria::find();
                        if (is_object($categorias)) {
                            foreach ($categorias as $value) {
                                $total = CategoriaProduto::count("CategoriaProduto.idCategoria = '{$value->getIdCategoria()}'");
                                echo "<li>";
                                echo "<a href='?_url=/Produtos&idCategoria={$value->getIdCategoria()}'>{$value->getNome()}($total)</a>";
                                echo '</li>';
                            }
                        }
                        ?>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <?php (isset($view) && $view) ? $this->partial($view) : ''; ?>
                </div>
            </div>
    </body>
</html>