<h1 class="page-header"><?=$titulo;?></h1>

<div class="row placeholders">
    <?php
    foreach($produtos as $value){
        if(isset($value->Produto) && is_object($value->Produto)){
            $foto = $value->Produto->getFoto();
            $nome = $value->Produto->getNome();
            $idProduto = $value->Produto->getIdProduto();
            $hidden = "<input type='hidden' name='idCategoria' value='{$_GET['idCategoria']}'/>";
        }else{
            $foto = $value->getFoto();
            $nome = $value->getNome();
            $idProduto = $value->getIdProduto();
            $hidden = '';
        }
        echo '<div class="col-xs-6 col-sm-3 placeholder">';
        echo "<img src='{$foto}' class='img-rounded' style='width: 150px;'/>";
        echo "<h4>{$nome}</h4>";
        echo '<form action="?_url=/Produtos/VisualizarProduto" method="POST">';
        echo "<input type='submit' name='' value='Comprar'/>";
        echo "<input type='hidden' name='idProduto' value='{$idProduto}'/>";
        echo $hidden;
        echo '</form>';
        echo '</div>';
    }
    ?>
</div>